package templates

import (
	"strconv"

	"github.com/norbusonam/twitter-with-go-and-htmx/pkg/db"
)

templ Post(post *db.Post) {
	<div>
		<p>{ post.Content }</p>
		<button>❤️ { strconv.Itoa(post.Likes) }</button>
	</div>
}
