package templates

import "github.com/norbusonam/twitter-with-go-and-htmx/pkg/db"

templ User(user *db.User, authenticatedUser *db.User) {
	<!DOCTYPE html>
	<html lang="en">
		@head("Twitter / " + user.Username)
		<body>
			@nav(authenticatedUser)
			<h1>{ user.Username }</h1>
			<p>{ user.Username }'s posts...</p>
		</body>
	</html>
}
