package templates

import "github.com/norbusonam/twitter-with-go-and-htmx/pkg/db"

templ User(user *db.User, posts []*db.Post, authenticatedUser *db.User) {
	<!DOCTYPE html>
	<html lang="en">
		@head("Twitter / " + user.Username)
		<body>
			@nav(authenticatedUser)
			<h1>{ user.Username }</h1>
			<div id="posts">
				for _, post := range posts {
					@Post(post)
				}
			</div>
		</body>
	</html>
}
